<a href="https://colab.research.google.com/github/abm4github/My_IITM_works/blob/main/IITM_PDSA_Using_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Programming Data Structures and Algorithms

##Week 1

###Computing gcd
gcd stands for '**greatest common divisor**' which is a largest number that can divide all the given numbers

In [ ]:
def gcd(m,n):
  cf = []
  for i in range(1, min(m,n)+1):  # In range(a,b), a is inclusive but b is NOT inclusive
    if m%i == 0 and n%i == 0:
      cf.append(i) 
  return(cf[-1])
  # alternatively return(cf[len(cf)-1])


gcd(21, 42)

21

In [ ]:
def gcd(m,n):
  for i in range(1, min(m,n)+1):
    if m%i == 0 and n%i == 0:
      mostRecent_cf = i
  return(mostRecent_cf)


gcd(21, 42)

21

In [ ]:
# note1: The above two codes take time proportional to min(m,n), it has scope for improvement
# note2: Efficiency is based on worst cases

###Checking primality
A number is said to be prime, if it has exactly **two** factors, 1 and itself

In [ ]:
def factors(n):
  factors_list = []
  for i in range(1,n+1):
    if n % i == 0:
      factors_list.append(i)
  return factors_list

def prime(n):
  return(factors(n) == [1,n])   # its output would be either True or False 
  # above line of code makes use of function/definition called factors

prime(1)

False

In [ ]:
# note: 1 is neither prime (as it has no two factors namely 1 and itsef) nor 
# composite (as it has not got more than two factors)

###Counting primes / finding primes

In [ ]:
# counting/finding primes upto a given number

def primesupto(m):
  pl = []
  for i in range(1, m+1):
    if prime(i):
      pl.append(i)
  return(pl)   # This returns a list comprising even numbers upto given number
  # if we want the count of those even numbers we use, return(len(pl))


primesupto(17)

[2, 3, 5, 7, 11, 13, 17]

In [ ]:
#  finding first 'given number' of prime numbers

def firstprimes(m):
  (count, i, pl) = (0, 1, [])  # here 3 variables are initiated in a single line
  while count < m:
    if prime(i):
      (count, pl) = (count+1, pl + [i])
    i += 1
  return pl   # it return list of first 'given number' of prime numbers
  # if we want the count of those even numbers we use, return(len(pl))


firstprimes(17)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59]

In [ ]:
# while vs for loop:
# this needs to be completed

In [ ]:
# error
def prime(n):
  result = True
  for i in range(2,n):
    if n%i == 0:
      result = False
      break   # terminates the loop
  return(result)

# alternate:
# def prime(n):
#   for i in range(2,n):
#     if n%i == 0:
#       return False
#   return True


prime(1)   # but 1 is not a prime number

True

In [18]:
# 2 errors
# the following code considers 1 and 4 as primes

import math
def prime(n):
  result,i = True, 2
  while result and i < math.sqrt(n):
    if n%i == 0:
      result = False
    i = i+1
  return result


prime(4)   # but 1 is not a prime number

True

In [24]:
# correction to above
# code to find if the given number is prime or not

def prime(n):
  if n < 2:
    return False
  result,i = True, 2
  while result and i < n**(1/2)+1:
    if n%i == 0:
      result = False
    i = i+1
  return result


prime(4)

False

In [32]:
# code to observe, frequencies of difference between any two consecutive primes

def prime_diffs(n):
  last_prime = 2
  prime_diff_freq = {}
  for i in range(3,n+1):
    if prime(i):
      diff = i - last_prime
      last_prime = i
      if diff in prime_diff_freq.keys():
        prime_diff_freq[diff] += 1
      else:
        prime_diff_freq[diff] = 1
  return prime_diff_freq

prime_diffs(1000)

{1: 1, 2: 35, 4: 40, 6: 44, 8: 15, 14: 7, 10: 16, 12: 7, 18: 1, 20: 1}

In [39]:
# Assignment
# code to find twin primes and their count


def twin_primes(n):
  countt = 0
  last_prime = 2
  twin_primes = []
  for i in range(3,n+1):
    if prime(i):
      if i - last_prime == 2:
        twin_primes.append((last_prime, i))
        countt += 1
      last_prime = i
  return twin_primes, countt


twin_primes(100)

([(3, 5), (5, 7), (11, 13), (17, 19), (29, 31), (41, 43), (59, 61), (71, 73)],
 8)

##Week 2

Insertion Sort

In [ ]:
#insertion sort by creating new list

def InsertionSort(L):
  li = [L[0]]
  for i in range(1, len(L)):
    j = 0
    if L[i] > li[-1]:
        li.append(L[i])
    else:
        while L[i] > li[j] and j < len(li)-1:
            j += 1
        li.insert(j, L[i])
  return li

L = [74,32,89,55,21,64]
InsertionSort(L)

[21, 32, 55, 64, 74, 89]

In [ ]:
#insertion sort without creating new list

def InsertionSort(L):
  n = len(L)
  if n < 1:
    return(L)
  for i in range(1, n):
    j = i
    while j > 0 and L[j] < L[j-1]:
      L[j], L[j-1] = L[j-1], L[j]
      j -= 1
  return L

L = [74,32,89,55,21,64]
InsertionSort(L)

[21, 32, 55, 64, 74, 89]

In [ ]:
#insertion sort through recursion
#it produces new list without disturbing original one

def Insert(L,v):
  n = len(L)
  if n == 0:
    return [v]
  if v >= L[-1]:
    return L+[v]
  else:
    return Insert(L[:-1],v) + L[-1:]

def ISort(L):
  n = len(L)
  if n <= 1:
    return L
  L = Insert(ISort(L[:-1]), L[-1])
  return(L)

L = [74,32,89,55,21,64]
ISort(L)

[21, 32, 55, 64, 74, 89]

Merge Sort

In [ ]:
def Merge(L1,L2):
  i, j = 0, 0
  ans = []
  while L1[i:] != [] and L2[j:] != []:
    if L1[i] < L2[j]:
      ans.append(L1[i])
      i += 1
    elif L1[i] > L2[j]:
      ans.append(L2[j])
      j += 1
    else:
      ans.append(L1[i])
      ans.append(L2[j])
      i += 1
      j += 1
  if  L1[i:] == []:
    ans += L2[j:]  
  elif L2[j:] == []:
    ans += L1[i:]
  return ans 

def MergeSort(L):
  n = len(L)
  if n <= 1:
    return L
  l = MergeSort(L[:n//2])
  r = MergeSort(L[n//2:])

  ans  = Merge(l,r)
  return ans

In [ ]:
L1 = [1,3,5,7]
L2 = [0,2,3,4,6,8]

Merge(L1,L2)

[0, 1, 2, 3, 3, 4, 5, 6, 7, 8]

In [ ]:
L = [0,9,8,7,1,2,3,0,2,8,1,7,3,0]
MergeSort(L)

[0, 0, 0, 1, 1, 2, 2, 3, 3, 7, 7, 8, 8, 9]