<a href="https://colab.research.google.com/github/abm4github/My_IITM_works/blob/main/IITM_Python_File_Handling_and_Functional_Programming.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## File Handling

File writing starts from here

In [1]:
f = open('mytext.txt', 'w')

In [2]:
f.write('Hi Folks,') # no space provided after h

9

In [3]:
f.write('How') # space provided after T

3

In [4]:
f.write('are')

3

In [5]:
f.write('you')

3

In [6]:
f.write('all?\n') #note adding \n to move to a next line

5

In [7]:
f.write("Hi Folks, ") # same thing again with spaces

10

In [8]:
f.write("How ")

4

In [9]:
f.write("are ")

4

In [10]:
f.write("you ")

4

In [11]:
f.write("all?\n")

5

In [12]:
f.write("Line 3\n")

7

In [13]:
f.write("Line 4\n")

7

In [14]:
f.write("Line 5\n")

7

In [15]:
f.write('0')

1

In [16]:
f.close()

file reading starts from here

In [17]:
x = open('mytext.txt', 'r')

In [18]:
x.seek(0)
for line in x:
  print(line)
x.tell()     

# here is a space between any two lines due to the fact that 
# while we write in file, we end or start lines with \n in order to have them written in a new line

Hi Folks,Howareyouall?

Hi Folks, How are you all?

Line 3

Line 4

Line 5

0

72

In [19]:
#In order to avoid same i am printing as follows
x.seek(0)
for line in x:
  print(line[:-1]) # the difference is in this line
x.tell()           # IMPORTANT: here 0 of last line is missing

Hi Folks,Howareyouall?
Hi Folks, How are you all?
Line 3
Line 4
Line 5

72

In [20]:
#In order to avoid same i am printing as follows
x.seek(0)
for line in x:
  if len(line)>1:
    print(line[:-1]) 
  else:
    print(line)     #now its perfect

Hi Folks,Howareyouall?
Hi Folks, How are you all?
Line 3
Line 4
Line 5
0

In [21]:
x.seek(0)
x.readlines()  
# Note:this too prints all lines but all lines are enclosed in a list as strings

['Hi Folks,Howareyouall?\n',
 'Hi Folks, How are you all?\n',
 'Line 3\n',
 'Line 4\n',
 'Line 5\n',
 '0']

In [22]:
x.seek(0)
print(x.readline(2))

x.seek(3)
print(x.readline(2))

print(x.tell())
print(x.readline(3))
print(x.tell())

Hi
Fo
5
lks
8

In [23]:
type(x)

_io.TextIOWrapper

In [24]:
x.seek(0)
s = x.readline()
print(s)
print(type(s))

Hi Folks,Howareyouall?

<class 'str'>

In [25]:
x.seek(0)
s = x.readlines()
print(s)
print(type(s))

['Hi Folks,Howareyouall?\n', 'Hi Folks, How are you all?\n', 'Line 3\n', 'Line 4\n', 'Line 5\n', '0']
<class 'list'>

In [26]:
x.close()

In [27]:
f  = open('textfile.txt', 'w')
f.write('Abdullah')
f.write('Bin')
f.write('Mohammed')
f.write('is')
f.write('an')
f.write('iitian')
f.close()

In [28]:
f  = open('textfile.txt', 'r')
l = f.readline()
while l != '':
  print(l)
  l = f.readline()
f.close()

AbdullahBinMohammedisaniitian

In [29]:
f  = open('textfile.txt', 'r')
l = f.readline(2)
while l != '':
  print(l)
  l = f.readline(2)
f.close()

Ab
du
ll
ah
Bi
nM
oh
am
me
di
sa
ni
it
ia
n

In [30]:
f  = open('textfile.txt', 'r')
l = f.read()
while l != '':
  print(l)
  l = f.read()
f.close()

AbdullahBinMohammedisaniitian

In [31]:
f  = open('textfile.txt', 'r')
l = f.read(2)
while l != '':
  print(l)
  l = f.read(2)
f.close()

Ab
du
ll
ah
Bi
nM
oh
am
me
di
sa
ni
it
ia
n

In [32]:
f  = open('textfile.txt', 'w')
f.write('Abdullah ')
f.write('Bin ')
f.write('Mohammed ')
f.write('is ')
f.write('an ')
f.write('iitian')
f.close()

In [33]:
f  = open('textfile.txt', 'r')
l = f.readline()
while l != '':
  print(l)
  l = f.readline()
f.close()

Abdullah Bin Mohammed is an iitian

In [34]:
f  = open('textfile.txt', 'r')
l = f.readline(2)
while l != '':
  print(l)
  l = f.readline(2)
f.close()

Ab
du
ll
ah
 B
in
 M
oh
am
me
d
is
 a
n
ii
ti
an

In [35]:
f  = open('textfile.txt', 'r')
l = f.read()
while l != '':
  print(l)
  l = f.read()
f.close()

Abdullah Bin Mohammed is an iitian

In [36]:
f  = open('textfile.txt', 'r')
l = f.read(2)
while l != '':
  print(l)
  l = f.read(2)
f.close()

Ab
du
ll
ah
 B
in
 M
oh
am
me
d
is
 a
n
ii
ti
an

In [37]:
f  = open('textfile.txt', 'w')
f.write('Abdullah sir\n')
f.write('Bin\n')
f.write('Mohammed\n')
f.write('is\n')
f.write('an\n')
f.write('iitian')
f.close()

In [38]:
f  = open('textfile.txt', 'r')
l = f.readline()
while l != '':
  print(l)
  l = f.readline()
f.close()

Abdullah sir

Bin

Mohammed

is

an

iitian

In [39]:
f  = open('textfile.txt', 'r')
l = f.readline(2)
while l != '':
  print(l)
  l = f.readline(2)
f.close()

Ab
du
ll
ah
 s
ir


Bi
n

Mo
ha
mm
ed


is


an


ii
ti
an

In [40]:
f  = open('textfile.txt', 'r')
l = f.read()
while l != '':
  print(l)
  l = f.read()
f.close()

Abdullah sir
Bin
Mohammed
is
an
iitian

In [41]:
f  = open('textfile.txt', 'r')
l = f.read(2)
while l != '':
  print(l)
  l = f.read(2)
f.close()

Ab
du
ll
ah
 s
ir

B
in

M
oh
am
me
d

is

a
n

ii
ti
an

In [42]:
f  = open('textfile.txt', 'r')
l = f.readlines()
while l != [] and l != '':
  print(l)
  print(type(l))
  print(len(l))
  for i in l:
    print(i)
    print(type(i))
  l = f.readlines()
f.close()

['Abdullah sir\n', 'Bin\n', 'Mohammed\n', 'is\n', 'an\n', 'iitian']
<class 'list'>
6
Abdullah sir

<class 'str'>
Bin

<class 'str'>
Mohammed

<class 'str'>
is

<class 'str'>
an

<class 'str'>
iitian
<class 'str'>

In [62]:
f  = open('textfile.txt', 'r')
l = f.readlines()
while l != [] and l != '':
  print(l)
  print(type(l))
  print(len(l))
  print('_________________________')
  for i in l:
    print(i)
    print(len(i))
    print(type(i))
    print("___________")
  l = f.readlines()
f.close()

['Abdullah sir\n', 'Bin\n', 'Mohammed\n', 'is\n', 'an\n', 'iitian']
<class 'list'>
6
_________________________
Abdullah sir

13
<class 'str'>
___________
Bin

4
<class 'str'>
___________
Mohammed

9
<class 'str'>
___________
is

3
<class 'str'>
___________
an

3
<class 'str'>
___________
iitian
6
<class 'str'>
___________

## Functional programming

In [44]:
fruits= ["mango","apple","banana","orange","pineapple","watermelon","guava","kiwi"]
new_list = [fruit.upper() if 'n' in fruit else fruit.lower() for fruit in fruits]
print(new_list)

['MANGO', 'apple', 'BANANA', 'ORANGE', 'PINEAPPLE', 'WATERMELON', 'guava', 'kiwi']

In [45]:
n = int(input())
L = [(i,"even") if i % 2 == 0 else (i,"odd") for i in range(1,n+1)]
print(L)

30
[(1, 'odd'), (2, 'even'), (3, 'odd'), (4, 'even'), (5, 'odd'), (6, 'even'), (7, 'odd'), (8, 'even'), (9, 'odd'), (10, 'even'), (11, 'odd'), (12, 'even'), (13, 'odd'), (14, 'even'), (15, 'odd'), (16, 'even'), (17, 'odd'), (18, 'even'), (19, 'odd'), (20, 'even'), (21, 'odd'), (22, 'even'), (23, 'odd'), (24, 'even'), (25, 'odd'), (26, 'even'), (27, 'odd'), (28, 'even'), (29, 'odd'), (30, 'even')]

Rough cells follows you may ignore them

In [46]:
(90+80+100+100+70+95+65+75+85+95)/10

85.5

In [47]:
L = [90,80,100,100,70,95,65,75,85,95]
L.sort()
print(L)

[65, 70, 75, 80, 85, 90, 95, 95, 100, 100]

In [48]:
mid = len(L)//2
if len(L) % 2 == 0:
     print((L[mid] + L[mid - 1]) // 2)
else:
    print(L[mid])

87

In [49]:
letters = 'abcdefghijklmnopqrstuvwxyz'
n = len(letters) // 2
for i in range(n):
    line = letters[i] + letters[-1 - i]
    print(line)

az
by
cx
dw
ev
fu
gt
hs
ir
jq
kp
lo
mn

In [50]:
f = open('pattern.txt', 'w')
letters = 'abcdefghijklmnopqrstuvwxyz'
n = len(letters)
for i in range(n):
    line = letters[i] + letters[-1 - i]
    if i != n - 1:
        line = line + '\n'
    print(line)

az

by

cx

dw

ev

fu

gt

hs

ir

jq

kp

lo

mn

nm

ol

pk

qj

ri

sh

tg

uf

ve

wd

xc

yb

za